<robot name="aruco_6x6_0">
    <link name="aruco_6x6_0"/>
    <joint name="base" type="fixed">
        <parent link="aruco_6x6_0"/>
        <child link="white_board_6x6_0"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>
    <link name="white_board_6x6_0">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://robotica_movel/src/aruco/aruco_6x6_0_15cm.dae"/>
            </geometry>
        </visual>
        <visual>
            <origin xyz="-0.005 0.0 0.0" rpy="0.0 -1.5707 0.0"/>
            <geometry>
                <box size="0.20 0.20 0.01"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://robotica_movel/src/aruco/aruco_6x6_0_15cm.dae"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy="0 0 0" xyz="0.000000 0.000000 0.000000"/>
            <mass value="35.336455"/>
            <inertia ixx="1.849155" ixy="-0.000354" ixz="-0.154188" iyy="1.662671" iyz="0.003292" izz="0.802239"/>
        </inertial>
    </link>
    <gazebo>
        <static>true</static>
    </gazebo>
</robot>